* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    /* background: #fff; */
    height: 100vh;
  }
  
  .main-container {
    width: 100%;
    height: 100%;
  }
  
  /* Nav */
  .nav-container {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    background: rgb(50, 50, 87);
    flex-direction: row;
    padding: 1.2rem;
    align-items: center;
    box-shadow: 2px 2px 4px gray;
    justify-content: space-between;
    width: 100%;
    height: 9vh;
  }
  
  .nav-container.active {
    background: fff;
    height: 9vh;
    border-radius: 2px;
  }
  
  .link {
    list-style-type: none;
    float: left;
  }
  
  .nav-links .anchor {
    display: inline-block;
    color: hsla(0,0%,100%,.5);
    text-decoration: none;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;  
    font-size: 0.8rem;
    font-weight: 800;
    line-height: 9.1vh;
    margin: 0.8rem;
  }
  
  .nav-links .anchor:hover {
    color: white;
  }
  
  .anchor.active {
    color: white;
    font-weight: 800;
    border-bottom: 2px solid #55198b;
  }
  
  .menu-icon {
    display: none;
  }
  
  /* Home */
  .home-container {
    font-family: "Varela Round", sans-serif;
    display: flex;
    color: white;
    flex-direction: row;
    background-color: rgb(29, 27, 27);
    height: 100%;
    padding: 1rem;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
  
  .content-container {
    width: 50vw;
    height: 100%;
    flex-direction: column;
    display: flex;
    padding: 1.8rem;
    margin-top: 3rem;
    justify-content: center;
    padding-left: 15rem;
  }
  
  .main-content {
    font-size: 3rem;
  }
  
  .about-content {
    margin: 0.6rem 0;
    color: #9c72be;
    font-family: "Varela Round", sans-serif;
  
    font-weight: 400;
    font-size: 1.6rem;
  }
  
  .about-animation {
    height: 60px;
    width: 100%;
    margin: 1rem 0;
  }
  
  .svg-container {
    margin-top: 1.5rem;
    width: 50vw;
    height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15rem;
  }
  
  .svg {
    height: 75%;
  }
  
  /* Skills */
  
  .about-container {
    font-family: "Exo 2", sans-serif;
    display: flex;
    color: white;
    font-size: 1.3rem;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(158, 173, 238);
    text-align: center;
  }
  
  .about-container h1 {
    margin: 2rem 0;
    color: white;
  }

  .icons #github {
    background-color: rgb(51, 51, 51);
  }
  
  .icons #github:hover {
    background-color: rgb(15, 15, 15);
  }
  
  .icons #live {
    background-color: rgb(16, 88, 16);
  }
  
  .icons #live:hover {
    background-color: rgb(16, 65, 88);
  }
  
  .icons i {
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    position: relative;
    text-align: center;
    user-select: none;
    width: 2.6rem;
    border-radius: 2.6rem;
    margin: 0px 5px 10px;
    transition: all 0.2s ease-in 0s;
  }
  
  .contact-container {
    font-family: "Exo 2", sans-serif;
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    flex-direction: column;
    font-weight: bold;
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 20px;
    background-color: rgb(158, 173, 238);
  }

  .contact-jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(158, 173, 238);
    }

    .footer {
      background: rgb(50, 50, 87);
      color: hsla(0,0%,100%,.5);
      font-family: 'Ubuntu', sans-serif;
      width: 100%;
      height: 100px;
      position: relative;
      padding-top: 18px;
      text-align: center;
    }
    
    p {
      font-size: 15px;
    }

  
  
  .profile-image {
    margin: 1rem;
    box-shadow: 6px 6px 10px gray;
    width: 170px;
    border: 1px solid black;
    border-radius: 50%;
    background-size: cover;
    height: 170px;
  }
  
  .project-card {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card {
  background-color: rgb(29, 27, 27);
  font-size: 40px;
  text-transform: uppercase;
}

.card-text {
  font-size: 10px;
  color: white;
  font-weight: bold;
}
.btn-grp {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.project-row {
  display: flex;
  flex-direction: row;
}

.project-header {
  margin: 2rem 0;
  color: white;
  font-weight: Bold;
  text-align: center;
}

.project-container {
  font-family: "Exo 2", sans-serif;
    display: flex;
    color: white;
    font-size: 1.3rem;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(29, 27, 27);
    text-align: center;
}

  .button:hover {
    background-color: #fff;
    color: #55198b;
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
  }
  
  .button-link {
    text-decoration: none;
  }
  
  .button {
    background-color: #55198b;
    border: 1px solid #55198b;
    color: #fff;
  
    font-weight: 700;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 13px 22px;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: block;
    outline: none;
    margin-top: 3.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .heading {
    margin: 2rem 0;
    font-family: "Varela Round", sans-serif;
    color: black;
  }
  
  /* Media Queries */
  /* 1150 Breakpoint */
  @media screen and (max-width: 1150px) {
    .home-container {
      flex-direction: column;
    }
    .content-container {
      padding-top: 5rem;
      width: 100vw;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .svg-container {
      width: 100vw;
    }
  }
  
  /*900 Mobile Nav Version */
  
  @media screen and (max-width: 900px) {
    .nav-links {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 500px;
      position: absolute;
      top: 9vh;
      text-align: center;
      align-items: center;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-links.active {
      background: rgba(255, 255, 255, 0.911);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .menu-icon {
      display: block;
      position: relative;
      margin: 0 1rem;
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .nav-links .anchor {
      display: block;
      line-height: 9.1vh;
      width: 100vw;
      margin: 0.4rem;
    }
  
    .anchor.active {
      color: white;
      font-weight: 800;
      border: none;
      background: rgba(0, 0, 0, 0.534);
    }
  
    .nav-links.active .anchor:hover {
      color: black;
    }
  }
  
  /* 700 */
  
  @media screen and (max-width: 700px) {
    .svg-container {
      margin-top: 1.5rem;
      width: 50vw;
      height: 36rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .svg {
      height: 60%;
    }
  }
  
  /* 550 */
  @media screen and (max-width: 550px) {
    .content-container {
      font-size: 0.7rem;
    }
  
    .main-content {
      font-size: 2rem;
    }
  
    .about-content {
      margin: 0.6rem 0;
      font-size: 1.2rem;
    }
  }
  
  /* 500 */
  @media screen and (max-width: 500px) {
    .svg {
      height: 40%;
    }
  }
  
  /* 415 */
  
  @media screen and (max-width: 415px) {
    .about-content {
      font-size: 1rem;
    }
  }
  
  /* 395*/
  
  @media screen and (max-width: 395px) {
    .heading {
      font-size: 1.2rem;
    }
    .button {
      font-size: 0.8rem;
    }
  }

 